.checkoutform label{
   font-size: 16px !important;
   font-weight: bold; 
}
.checkoutform input{
   font-size: 14px !important;
   
}

.search-bar{
   width: 35% !important;
   margin-left: 15% !important;
}