{% extends "store/layouts/main.html" %}

{%block title%}
My orders
{%endblock title%}

{% block content %}

<div class="bg-primary">
<div class='container'>
   <a class="text-white" href="{%url 'index'%}">Home / </a>
   <a class="text-white" href="{%url 'orders'%}">Orders / </a>
</div>
</div>

<div class='py-5'>
   <div class='container'>
      <div class='row'>
         <div class='card shadow'>
               <h5 class='card-header'>Order view
                  <a href="{% url "orders" %}" class="btn btn-warning float-end text-white">Back</a>
               </h5>
               <div class='card-body'>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-md-6">
                           <h4>Shipping details</h4>
                           <hr/>
                           <label>First Name</label>
                           <div class="border p-1 mt-2">{{order.fname}}</div>
                           <label>Last Name</label>
                           <div class="border p-1 mt-2">{{order.lname}}</div>
                           <label>Email</label>
                           <div class="border p-1 mt-2">{{order.email}}</div>
                           <label>Phone Number</label>
                           <div class="border p-1 mt-2">{{order.phone}}</div>
                           <label>Address</label>
                           <div class="border p-1 mt-2">{{order.address}} , {{order.city}} , {{order.state}} , {{order.country}}</div>
                           <label>Zip Code</label>
                           <div class="border p-1 mt-2">{{order.zip}}</div>
                        </div>
                        <div class="col-md-6">
                           <table class='table table-striped'>
                              <h3>Order details</h3>
                              <thead>
                                 <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Total price</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for item in orderitems %}
                                    <tr>
                                       <td> <img src="/static/{{item.product.product_image}}" alt="product image" height="70px" width="70px"> </td>
                                       <td>{{ item.product.name}} </td>
                                       <td>{{ item.quantity}} </td>
                                       <td>{{ item.price}} </td>
                                       <td>
                                          <a href="{% url "orderview" item.order.trackno%}" class="btn btn-primary">View Order</a>
                                       </td>
                                    </tr>
                                 {% endfor %}

                                 <h4>Grand total : <span class="float-end">Rs {{order.totalprice}} </span></h4>
                                 <h4>Payment mode : {{order.paymentmode}}</h4>
                                 <h4>Order status : {{order.status}}</h4>
                                 <h4>Tracking no : {{order.trackno}}</h4>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
   </div>
</div>
{% endblock content%}